@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0;
  }

  body {
    @apply bg-background text-text-primary font-body antialiased;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: #2a2a2a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c8ff00;
  }
}

@layer utilities {
  .border-brutal {
    border: 1px solid #2a2a2a;
  }
}
